{% extends 'base.html' %} {% block content %}

<h1>Home</h1>
<hr />

<div class="parallax-container">
  <div class="parallax">
    <img src="static/images/aboutus.webp" alt="" />
  </div>
</div>

<br />
<h5>Explore the <a href="{% url 'index' %}">Courses</a>...</h5>
<hr />
<br />

<div class="parallax-container">
  <div class="parallax">
    <img src="static/images/knowledge.jpeg" alt="" />
  </div>
</div>

<br />
<h5>Our <a href="{% url 'students_index' %}">Students</a>...</h5>
<hr />
<div class="parallax-container">
  <div class="parallax">
    <img src="static/images/students.webp" alt="" />
  </div>
</div>

<br />
<h5>Welcome to Course Tracker!</h5>
<hr />
<div class="parallax-container">
  <div class="parallax">
    <img src="static/images/education.jpeg" alt="" />
  </div>
</div>
<br />

{% endblock %}
